{% extends "invisibleroads_posts:templates/base.jinja2" %}

{% block head_script_inline %}
{{ super() -}}
x = IR.users = {}
x.assets_url = '{{ request.static_path("invisibleroads_users:assets/") }}';
x.login_url = '{{ request.route_path("user_login") + "?target_url=" + request.path }}';
x.user_id = {{ user.id if user else 0 }};
{% if user %}
x.csrf_token = '{{ request.session.get_csrf_token() }}';
{% endif %}
{% endblock %}

{% block body_navigation_top %}
{% block body_navigation_top_div %}{% endblock %}
<form class="navbar-form navbar-right" role="navigation">
<a href="{{ request.route_path('user_logout' if user else 'user_login') }}?target_url={{ request.path }}" class="btn btn-default">{{ 'Exit' if user else 'Start' }}</a>
</form>
<ul class="nav navbar-nav navbar-right">
{% if user %}
{% set link_path = '{{ request.route_path("user", user_id=user.id) }}' %}
<li{% if request_path == link_path %} class="active"{% endif %}><a href="{{ link_path }}"><b>{{ user.name }}</b></a></li>
{% block body_navigation_top_list_user %}{% endblock %}
{% endif %}
{% block body_navigation_top_list %}{% endblock %}
</ul>
{% endblock %}
