{% extends 'invisibleroads_posts:templates/base.jinja2' %}
{% from 'invisibleroads_posts:templates/parts.jinja2' import confirmation_modal %}
{% set settings = request.registry.settings %}

{% block head_script_inline %}
{{ super() -}}
x = IR.users = {};
x.assets_url = '{{ request.static_path("invisibleroads_users:assets/") }}';
x.target_url = '{% block target_url %}{{ request.path }}{% endblock %}';
{% if authenticated_user %}
x.user_id = '{{ authenticated_user.id }}';
x.csrf_token = '{{ request.session.get_csrf_token() }}';
x.leave_url = '{{ request.route_path("users_leave") }}';
{% endif %}
{% endblock %}

{% block body_navigation_top %}
{{ super() -}}
{% block body_navigation_top_div %}{% endblock %}
<ul class="nav navbar-nav navbar-right">
{% if authenticated_user %}
{% set authenticated_user_url = request.route_path('user', user_id=authenticated_user.id) %}
<li{% if request.path == authenticated_user_url %} class="active"{% endif %}><a href="{{ authenticated_user_url }}"><b>{{ authenticated_user.name }}</b></a></li>
{% block body_navigation_top_list_user %}{% endblock %}
{% endif %}
{% block body_navigation_top_list %}{% endblock %}
<li>
{% if authenticated_user %}
<button class="navbar-btn btn btn-default btn-users users-leave">{{ settings['invisibleroads_users.auth_button.leave_text'] }}</button>
{% else %}
<button class="navbar-btn btn btn-default btn-users users-enter">{{ settings['invisibleroads_users.auth_button.enter_text'] }}</button>
{% endif %}
</li>
</ul>
{% endblock %}

{% block body_footer %}
{{ super() -}}
{% if authenticated_user %}
{% call confirmation_modal(id='feedback-modal', title='', backdrop='static') %}{% endcall %}
{% else %}
{% call confirmation_modal(id='auth-modal', title=settings['invisibleroads_users.auth_modal.title'], default_button_text=settings['invisibleroads_users.auth_modal.button_text']) %}
{% for provider_name in settings['invisibleroads_users.auth_providers'] %}
<a class="btn-auth users-{{ provider_name }}" href="{{ request.route_path('users_enter', provider_name=provider_name) }}"></a><br>
{% endfor %}
{% endcall %}
{% endif %}
{% endblock %}
